<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/main.css">
    <title>{{{title}}}</title>
  </head>
  <body>
    <main>
      <h1>Show Finder</h1>
      <p>Search the <span class="bold">TV Maze API</span> for information about your favorite shows!</p>
      <form id="search-form" method="POST" action="/search">
          <label for="search">Search</label>
          <input id="search" type="text" name="showSearchTerm" />
          <button form="search-form" type="submit">Submit</button>
      </form>
      {{{body}}}
    </main>
  </body>
</html>